@import url('satoshi.css');

/* My Styles */
body {
    display: flex;
    flex-direction: column;
    max-width: 680px;
    height: 75%;
    width: 75%;
    justify-content: center;
    margin: auto;
    background-color: #fdfbf9;
}

h1 {
    font-family: 'Satoshi-Black';
    color: #DF004F;
}

p {
    font-family: 'Satoshi-Regular';
    font-size: 1.5em;
    line-height: 1.5em;
    margin-top: 10px;
    margin-bottom: 10px;
}

img {
    border-radius: 50%;
    border: 10px solid #B0F26D;
    height: 300px;
    width: 300px;
    align-self: center;
}

a {
    font-family: 'Satoshi-Bold';
    color: #DF004F;
    font-size: 1.5em;
    text-decoration: none;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 20px 10px;
    border: 10px solid #B0F26D;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

a:hover {
    color: #DF004F;
}